
.filterButton {
  width: 100%;
}

.sizeContrainer {
  display: flex;
  flex-wrap: wrap
}

.createButton {
  width: 20%;
  margin-left: 60%;
}

.noAcessItem {
  width: 100%;
  text-align: center;
}
.App {
  height: 100%;
}
.Content {
  padding-top: 60px;
  margin: 16px;
}

.selectorLightMode {
  /* no changes needed we are using the defaultbehavior */
}
.selectorDarkMode {
  background-color: darkgray;
}

.tableLightMode{
  /* no changes needed we are using the defaultbehavior */
}
.tableDarkMode{
  --bs-table-bg: darkgray !important;
  --bs-table-border-color: black !important;
}


.modalButtonLightMode {
  /* no changes needed we are using the defaultbehavior */
}
.modalButtonDarkMode {

}
.buttonLightMode {
/* no changes needed we are using the defaultbehavior */
}
.buttonDarkMode {

}

html, body, body>div {
  height: 100%;
}
